<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>866508529166-jrpltv0hefa55qios5m82lgjb360eaek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866508529166-jrpltv0hefa55qios5m82lgjb360eaek</string>
	<key>API_KEY</key>
	<string>AIzaSyBT4dnjNazcEuYBn5yk-xYM8H1y28CRGNA</string>
	<key>GCM_SENDER_ID</key>
	<string>866508529166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ricardoramirez.ocoProject</string>
	<key>PROJECT_ID</key>
	<string>ocoproject-2018</string>
	<key>STORAGE_BUCKET</key>
	<string>ocoproject-2018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866508529166:ios:4a7f2903498fcd64</string>
	<key>DATABASE_URL</key>
	<string>https://ocoproject-2018.firebaseio.com</string>
</dict>
</plist>